/*
font-family: 'Kanit', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
body {
	display: grid;
	place-items: center;
	place-content: center;
	font-family: 'Comfortaa', 'Times New Roman', Times, serif;
	background-image: url(resources/error-404-l-15.webp);
}

section {
	place-items: center;
	max-width: 95vw;
	align-content: center;
	animation-delay: 3s;
	animation: fadein ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}


p {
	font-size: 6vw;
	text-align: center;

}

b {
	font-weight: 900;
}

b:hover {
	font-size: 105%;
	text-decoration-color: rgb(51, 65, 60);

}