html {
	height: 100vh;
	width: 100vw;
}

a {
	color: inherit;
	text-decoration: dotted;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: rgb(19, 19, 19);
		color: beige;
	}

}

@media(prefers-color-scheme: light) {
	body {
		background-color: beige;
		color: black;
	}
}

#abt:hover{
	text-decoration: underline;
	font-size: 105%;
	text-decoration-thickness: 2px;
	text-decoration-color: rgb(51, 65, 60);

}
