html {
	height: 100vh;
	width: 100vw;
}
body{
	font-family: 'Comfortaa', 'Times New Roman', Times, serif;
}

a {
	color: inherit;
	text-decoration: underline;
	text-decoration-color: rgb(51, 65, 60);

}

@media (prefers-color-scheme: dark) {
	body {
		background-color: rgb(19, 19, 19);
		color: beige;
	}

}

@media(prefers-color-scheme: light) {
	body {
		background-color: beige;
		color: black;
	}
}

a:hover {
	font-size: 105%;
	text-decoration-color: rgb(51, 65, 60);

}