/*
font-family: 'Comfortaa', cursive;
font-family: 'Righteous', cursive;
*/

html {
	height: 100vh;
	width: 100vw;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: rgb(19, 19, 19);
		color: beige;
	}

}

@media(prefers-color-scheme: light) {
	body {
		background-color: beige;
		color: black;
	}
}

body {
	display: grid;
	background-position-x: center;
	place-items: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-left: 0;

}

#main {
	place-items: center;
	max-width: 720px;
	padding: 0.5rem;
	position: relative;
	align-content: center;
	animation-delay: 3s;
	animation: fadein ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

h1 {
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-size: xx-large;
}

p {
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-size: larger;
}


#abt:hover{
	text-decoration: underline;
	font-size: 105%;
	text-decoration-thickness: 2px;
	text-decoration-color: rgb(51, 65, 60);

}
