/*
font-family: 'Comfortaa', cursive;
font-family: 'Righteous', cursive;
*/

body {
	display: grid;
	background-position-x: center;
	place-items: center;

}

#main {
	place-items: center;
	max-width: 720px;
	align-content: center;
	animation-delay: 3s;
	animation: fadein ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

h1 {
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-size: xx-large;
}

p {
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-size: larger;
}
